/* style.scss */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* _variables.scss */
/* Font Families */
/* Font Sizes */
/* Responsive Break Points */
/* _mixins.scss */
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box; }

textarea, input, select {
  outline: none; }

.clear-fix:after {
  display: block;
  clear: both;
  content: ""; }

a, a:visited {
  text-decoration: none;
  color: inherit; }

html, body {
  width: 100%;
  height: 100%;
  background: #000000;
  color: #ffffff;
  font-family: 'Helvetica', sans-serif;
  line-height: 1.2; }

@keyframes showLogoMenu {
  0% {
    opacity: 0;
    transform: translate(0, -44px); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }
.ergo-logo, .menu-icon {
  position: fixed;
  top: 40px;
  z-index: 100;
  animation: showLogoMenu linear 0.5s 1;
  -moz-animation: showLogoMenu linear 0.5s 1;
  -webkit-animation: showLogoMenu linear 0.5s 1;
  animation-delay: 0;
  -moz-animation-delay: 0;
  /* Firefox */
  -webkit-animation-delay: 0;
  /* Safari and Chrome */
  -o-animation-delay: 0;
  /* Opera */
  animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  /* Firefox */
  -webkit-animation-timing-function: ease;
  /* Safari and Chrome */
  -o-animation-timing-function: ease;
  /* Opera */ }

.ergo-logo {
  left: 40px; }

.menu-icon {
  right: 56px; }

.sub-nav {
  position: fixed;
  left: 50%;
  bottom: 2%;
  z-index: 100;
  transform: translate(-50%, 44px);
  transition: transform 1s; }
  .sub-nav.active {
    transform: translate(-50%, 0); }

.sub-nav__item {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  opacity: 0.5;
  margin: 0 2px; }
  .sub-nav__item:before {
    content: "";
    position: absolute;
    border: 4px solid #ffffff;
    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all .25s; }
  .sub-nav__item:hover, .sub-nav__item.active {
    opacity: 1; }
    .sub-nav__item:hover:before, .sub-nav__item.active:before {
      width: 20px;
      height: 20px; }

.view {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden; }

.scroll-horizontal, .scene-scroll {
  width: 10000px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.section {
  width: 80vw;
  height: 100%;
  width: 100%;
  float: left;
  position: relative; }

.bg {
  width: 125%;
  height: 100%;
  position: absolute;
  left: -25%;
  top: 0;
  min-height: 640px; }

.linesA__segmented {
  position: absolute;
  top: 50%;
  left: 27%; }
  .linesA__segmented .lines__svg {
    left: -45%;
    top: 55px; }

.linesB__segmented {
  position: absolute;
  top: 50%;
  left: 50%; }
  .linesB__segmented .lines__svg {
    left: -10%;
    top: 55px; }

.lines__single {
  position: absolute;
  top: 50%;
  left: 38%; }
  .lines__single .lines__svg {
    left: -39%;
    top: 50px; }

.lines__dynamic {
  position: absolute;
  top: 50%;
  left: 38%; }
  .lines__dynamic .lines__svg {
    left: -39%;
    top: 45px; }

.lines-group.active .line-swiggly {
  stroke-dashoffset: 0; }

.lines__svg {
  fill: none;
  position: relative; }

.line-swiggly {
  stroke: #0074c8;
  vector-effect: non-scaling-stroke;
  transition: all 1s;
  stroke-dasharray: 640px;
  stroke-dashoffset: -640px; }
  .line-swiggly.reverse-direction {
    stroke-dashoffset: 640px; }

.svg__mask rect {
  fill: #000000;
  transition: fill .25s; }
.svg__mask.showSingleA rect.person__2, .svg__mask.showSingleA rect.person__3, .svg__mask.showSingleA rect.person__5, .svg__mask.showSingleA rect.person__6, .svg__mask.showSingleA rect.person__7, .svg__mask.showSingleA rect.person__8, .svg__mask.showSingleA rect.person__10, .svg__mask.showSingleA rect.person__13, .svg__mask.showSingleA rect.person__14, .svg__mask.showSingleA rect.person__15, .svg__mask.showSingleA rect.person__16 {
  fill: #ffffff; }
.svg__mask.showSegmentedA rect.person__1, .svg__mask.showSegmentedA rect.person__2, .svg__mask.showSegmentedA rect.person__3, .svg__mask.showSegmentedA rect.person__4, .svg__mask.showSegmentedA rect.person__7, .svg__mask.showSegmentedA rect.person__8, .svg__mask.showSegmentedA rect.person__10 {
  fill: #ffffff; }
.svg__mask.showSegmentedAandB rect.person__1, .svg__mask.showSegmentedAandB rect.person__2, .svg__mask.showSegmentedAandB rect.person__3, .svg__mask.showSegmentedAandB rect.person__4, .svg__mask.showSegmentedAandB rect.person__7, .svg__mask.showSegmentedAandB rect.person__8, .svg__mask.showSegmentedAandB rect.person__10, .svg__mask.showSegmentedAandB rect.person__9, .svg__mask.showSegmentedAandB rect.person__11, .svg__mask.showSegmentedAandB rect.person__12, .svg__mask.showSegmentedAandB rect.person__14, .svg__mask.showSegmentedAandB rect.person__15, .svg__mask.showSegmentedAandB rect.person__16 {
  fill: #ffffff; }

.section__viewport {
  width: 80%;
  height: 100%;
  position: absolute;
  overflow: hidden; }

.scene {
  width: 100%;
  height: 100%;
  position: relative;
  min-width: 1024px;
  min-height: 640px;
  float: left; }

.line__1 {
  width: 500px;
  height: 0px;
  border-top: 8px solid #ffffff;
  position: absolute;
  top: 50%;
  left: 25%; }

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

@keyframes showHomeTitle {
  0% {
    transform: translate(-25%, 0);
    opacity: 0; }
  100% {
    transform: translate(0, 0);
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.home__title__line {
  opacity: 0; }
  .home__title__line.active {
    opacity: 1; }
  .animateIntro .home__title__line {
    animation: showHomeTitle linear 0.5s 1;
    -moz-animation: showHomeTitle linear 0.5s 1;
    -webkit-animation: showHomeTitle linear 0.5s 1;
    animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    /* Firefox */
    -webkit-animation-delay: 0.5s;
    /* Safari and Chrome */
    -o-animation-delay: 0.5s;
    /* Opera */
    animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    /* Firefox */
    -webkit-animation-timing-function: ease;
    /* Safari and Chrome */
    -o-animation-timing-function: ease;
    /* Opera */ }
    .animateIntro .home__title__line:nth-child(2) {
      animation: showHomeTitle linear 0.5s 1;
      -moz-animation: showHomeTitle linear 0.5s 1;
      -webkit-animation: showHomeTitle linear 0.5s 1;
      animation-delay: 0.75s;
      -moz-animation-delay: 0.75s;
      /* Firefox */
      -webkit-animation-delay: 0.75s;
      /* Safari and Chrome */
      -o-animation-delay: 0.75s;
      /* Opera */
      animation-timing-function: ease;
      -moz-animation-timing-function: ease;
      /* Firefox */
      -webkit-animation-timing-function: ease;
      /* Safari and Chrome */
      -o-animation-timing-function: ease;
      /* Opera */ }
    .animateIntro .home__title__line:nth-child(3) {
      animation: showHomeTitle linear 0.5s 1;
      -moz-animation: showHomeTitle linear 0.5s 1;
      -webkit-animation: showHomeTitle linear 0.5s 1;
      animation-delay: 0.85s;
      -moz-animation-delay: 0.85s;
      /* Firefox */
      -webkit-animation-delay: 0.85s;
      /* Safari and Chrome */
      -o-animation-delay: 0.85s;
      /* Opera */
      animation-timing-function: ease;
      -moz-animation-timing-function: ease;
      /* Firefox */
      -webkit-animation-timing-function: ease;
      /* Safari and Chrome */
      -o-animation-timing-function: ease;
      /* Opera */ }
    .animateIntro .home__title__line:nth-child(4) {
      animation: showHomeTitle linear 0.5s 1;
      -moz-animation: showHomeTitle linear 0.5s 1;
      -webkit-animation: showHomeTitle linear 0.5s 1;
      animation-delay: 1.05s;
      -moz-animation-delay: 1.05s;
      /* Firefox */
      -webkit-animation-delay: 1.05s;
      /* Safari and Chrome */
      -o-animation-delay: 1.05s;
      /* Opera */
      animation-timing-function: ease;
      -moz-animation-timing-function: ease;
      /* Firefox */
      -webkit-animation-timing-function: ease;
      /* Safari and Chrome */
      -o-animation-timing-function: ease;
      /* Opera */ }
    .animateIntro .home__title__line:nth-child(5) {
      animation: fadeIn linear 0.5s 1;
      -moz-animation: fadeIn linear 0.5s 1;
      -webkit-animation: fadeIn linear 0.5s 1;
      animation-delay: 2s;
      -moz-animation-delay: 2s;
      /* Firefox */
      -webkit-animation-delay: 2s;
      /* Safari and Chrome */
      -o-animation-delay: 2s;
      /* Opera */
      animation-timing-function: ease;
      -moz-animation-timing-function: ease;
      /* Firefox */
      -webkit-animation-timing-function: ease;
      /* Safari and Chrome */
      -o-animation-timing-function: ease;
      /* Opera */ }

@keyframes blinkBlue {
  0% {
    background-color: rgba(0, 116, 200, 0);
    fill: #ffffff; }
  40% {
    background-color: #0074c8;
    fill: #ffffff;
    border-color: #0074c8; }
  60% {
    background-color: #0074c8;
    fill: #ffffff;
    border-color: #0074c8; }
  100% {
    background-color: white;
    fill: #0074c8; } }
.home__title__circle {
  position: absolute;
  top: 50%;
  right: -96px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transform: translateY(-50%);
  border: 1px solid #ffffff;
  opacity: 0;
  fill: #ffffff; }
  .animateIntro .home__title__circle {
    animation: fadeIn linear 0.5s 1;
    -moz-animation: fadeIn linear 0.5s 1;
    -webkit-animation: fadeIn linear 0.5s 1;
    animation-delay: 2s;
    -moz-animation-delay: 2s;
    /* Firefox */
    -webkit-animation-delay: 2s;
    /* Safari and Chrome */
    -o-animation-delay: 2s;
    /* Opera */
    animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    /* Firefox */
    -webkit-animation-timing-function: ease;
    /* Safari and Chrome */
    -o-animation-timing-function: ease;
    /* Opera */ }
  .home__title__circle.active {
    opacity: 1;
    cursor: pointer;
    background-color: #ffffff;
    fill: #0074c8; }
    .home__title__circle.active:active {
      background-color: #0074c8;
      fill: #ffffff;
      border-color: #0074c8; }
  .animateIntro .home__title__circle.active {
    animation: blinkBlue linear 1s 1;
    -moz-animation: blinkBlue linear 1s 1;
    -webkit-animation: blinkBlue linear 1s 1;
    animation-delay: 0;
    -moz-animation-delay: 0;
    /* Firefox */
    -webkit-animation-delay: 0;
    /* Safari and Chrome */
    -o-animation-delay: 0;
    /* Opera */
    animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    /* Firefox */
    -webkit-animation-timing-function: ease;
    /* Safari and Chrome */
    -o-animation-timing-function: ease;
    /* Opera */ }

.home__title__arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -49.5%); }

.layout-table {
  width: 100%;
  height: 100%; }
  .layout-table td {
    position: relative; }

.spacer {
  width: 100%;
  height: 1px; }

.home__title__cell {
  width: 836px; }

.about__dig-rev__cell {
  width: 633px; }

.about__dig-rev__box-wrapper {
  position: absolute;
  width: 647px;
  height: 100%;
  top: 0;
  left: -5px;
  overflow: hidden; }

.box-wrapper__inner {
  position: relative;
  width: 646px;
  height: 100%; }

.about__dig-rev__box1 {
  width: 456px;
  height: 456px;
  border: 1px solid #0074c8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  z-index: 10;
  transform: rotate(45deg) translate(-50%, -50%); }
  .about__dig-rev__box1:before, .about__dig-rev__box1:after {
    width: 10px;
    height: 10px;
    background: #132b3f;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0; }
  .about__dig-rev__box1:after {
    bottom: auto;
    left: auto;
    top: 0;
    right: 0; }

.about__dig-rev__box2 {
  width: 456px;
  height: 456px;
  border: 1px solid #0074c8;
  transform: rotate(30deg) translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  z-index: 10;
  opacity: .4; }

.main-line__white {
  position: absolute;
  top: 50%;
  width: 0;
  height: 10px;
  transform: translateY(-50%);
  background: #ffffff; }

.main-line__blue {
  position: absolute;
  top: 50%;
  width: 0;
  height: 2px;
  transform: translateY(-50%);
  background: #0074c8; }

.about__copy__wrap {
  position: absolute;
  width: 800px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  padding-bottom: 32px; }
  .about__copy__wrap img {
    display: inline-block;
    position: relative; }

.line-diagonal-group {
  width: 140px;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateX(-14px); }
  .line-diagonal-group:before {
    content: "";
    position: absolute;
    width: 15px;
    background: #ffffff;
    height: 40px;
    transform: skew(45deg) translateX(25px); }

.about__single__diagonal {
  left: 39%; }

.about__segmented__diagonal {
  left: 28%; }

.about__segmented__diagonal2 {
  left: 51%; }

.about__dynamic__dia__wrap {
  position: absolute;
  width: 80%;
  height: 50px;
  left: 54%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: width .25s; }
  @media all and (min-width: 1100px) {
    .about__dynamic__dia__wrap {
      width: 72%;
      left: 52%; } }
  @media all and (min-width: 1148px) {
    .about__dynamic__dia__wrap {
      width: 66%;
      left: 51%; } }
  @media all and (min-width: 1280px) {
    .about__dynamic__dia__wrap {
      width: 58%;
      left: 50%; } }

.blue-line-responsive-wrap {
  position: absolute;
  width: 15%;
  height: 100%; }
  @media all and (min-width: 1100px) {
    .blue-line-responsive-wrap {
      width: 16.8%; } }
  @media all and (min-width: 1148px) {
    .blue-line-responsive-wrap {
      width: 18.7%; } }
  @media all and (min-width: 1280px) {
    .blue-line-responsive-wrap {
      width: 21.5%; } }
  .blue-line-responsive-wrap.ender {
    left: 85%; }
    @media all and (min-width: 1100px) {
      .blue-line-responsive-wrap.ender {
        left: 85.2%; } }
    @media all and (min-width: 1148px) {
      .blue-line-responsive-wrap.ender {
        left: 81.3%; } }
    @media all and (min-width: 1280px) {
      .blue-line-responsive-wrap.ender {
        left: 78.9%; } }

.about__dynamic__diagonal1 {
  left: 1%; }

.about__dynamic__diagonal2 {
  left: 9%; }

.about__dynamic__diagonal3 {
  left: 17%; }

.about__dynamic__diagonal4 {
  left: 25%; }

.about__dynamic__diagonal5 {
  left: 33%; }

.about__dynamic__diagonal6 {
  left: 41%; }

.about__dynamic__diagonal7 {
  left: 49%; }

.about__dynamic__diagonal8 {
  left: 57%; }

.about__dynamic__diagonal9 {
  left: 65%; }

.about__dynamic__diagonal10 {
  left: 73%; }

.about__dynamic__diagonal11 {
  left: 81%; }

.line-diagonal__blue {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 2; }
  .line-diagonal__blue:before {
    content: "";
    position: absolute;
    width: 3px;
    background: #0074c8;
    height: 40px;
    transform: skew(45deg) translateX(31px); }

.about__letter {
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(42px, 50px); }

.letter__segmentedA {
  left: 27%; }

.letter__segmentedB {
  left: 51%;
  transform: translate(32px, 50px); }

.bg__people--highlight {
  opacity: 0;
  transition: opacity .25s; }
  .bg-wrapper.active .bg__people--highlight {
    opacity: 1; }

.about__end--wrapper {
  width: 900px;
  height: 900px; }

.about__end--circle {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #061e32;
  overflow: hidden; }
  .about__end--circle:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border: 10px solid #ffffff;
    border-radius: 50%;
    opacity: .6;
    pointer-events: none; }

.scene-static {
  position: relative;
  width: 100%;
  height: 100%; }

.home-bg {
  position: absolute;
  width: 150%;
  padding-bottom: 150%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(#182a39, #000000); }

.about__end--bubble {
  position: absolute;
  transform: translate(-50%, -50%);
  background: rgba(0, 116, 200, 0.5);
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  white-space: nowrap; }

.bubble__email {
  top: 122px;
  left: 204px;
  opacity: .5; }

.bubble__website {
  top: 800px;
  left: 204px;
  opacity: .5; }

.bubble__mobile {
  top: 288px;
  left: 10px; }

.bubble__agent {
  top: 598px;
  left: 52px; }

.bubble__video {
  top: 196px;
  left: 800px; }

.bubble__social {
  top: 356px;
  left: 852px;
  opacity: .5; }

.bubble__tradeshow {
  top: 628px;
  left: 832px;
  opacity: .5;
  white-space: normal !important; }

.bubble__seo {
  top: 782px;
  left: 656px; }

.video-wrapper {
  position: absolute;
  opacity: .6; }

.video-copy {
  position: absolute;
  width: 100%;
  height: 100%; }
  .video-copy img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; }
    .video-copy img.video-title {
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 1; }

.end-button {
  cursor: pointer; }

/*# sourceMappingURL=styles.css.map */
