/* style.scss */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* _variables.scss */
/* Font Families */
/* Font Sizes */
/* Responsive Break Points */
/* _mixins.scss */
*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box; }

textarea, input, select {
  outline: none; }

.clear-fix:after {
  display: block;
  clear: both;
  content: ""; }

a, a:visited {
  text-decoration: none;
  color: inherit; }

html, body {
  width: 100%;
  height: 100%;
  background: #000000;
  color: #ffffff;
  font-family: 'Helvetica', sans-serif;
  line-height: 1.2; }

.scroll-vertical {
  height: 10000px; }

.ergo-logo {
  position: fixed;
  top: 44px;
  left: 44px;
  z-index: 100; }

.view {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden; }

.scroll-horizontal, .scene-scroll {
  width: 10000px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.section {
  width: 80vw;
  height: 100%;
  width: 100%;
  float: left;
  position: relative; }

.bg {
  width: 125%;
  height: 100%;
  position: absolute;
  left: -25%;
  top: 0; }

.section__viewport {
  width: 80%;
  height: 100%;
  position: absolute; }

.scene {
  width: 100%;
  height: 100%;
  position: relative;
  min-width: 1024px;
  min-height: 640px;
  float: left; }

.line__1 {
  width: 500px;
  height: 0px;
  border-top: 8px solid #ffffff;
  position: absolute;
  top: 50%;
  left: 25%; }

.box__1 {
  border: 4px solid #ffffff;
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  overflow: hidden; }

.box__1__text {
  position: absolute;
  font-size: 32px; }

.about__landing--img {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%); }

.about__landing--circle {
  position: absolute;
  top: 50%;
  right: 12%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transform: translateY(-50%);
  background: #ffffff; }

.about__landing--arrow {
  position: absolute;
  top: 50%;
  right: 12%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transform: translateY(-50%); }

.about__landing--line--wht {
  left: 87%; }

.about__landing--line--blue {
  left: 86%; }

.white-line__main {
  position: absolute;
  top: 50%;
  width: 0;
  height: 10px;
  transform: translateY(-50%);
  background: #ffffff;
  transition: none; }

.about__why--line1, .about__why--line2, .about__why--lineblue1, .about__why--lineblue2 {
  width: 0%; }

.center__pos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.about__why--textbox {
  width: 520px;
  height: 128px;
  position: relative;
  overflow: hidden; }

.about__why--text {
  top: 120%; }

.about__why--table {
  width: 100%;
  height: 100%; }
  .about__why--table td {
    position: relative; }

.about__why--cellfix {
  width: 5px;
  vertical-align: middle; }

.about__why--textbox--border {
  width: 0;
  height: 100%;
  position: absolute;
  overflow: hidden; }
  .about__why--textbox--border:before {
    content: "";
    border: 10px solid #ffffff;
    width: 520px;
    height: 100%;
    position: absolute; }

.about__single--line1, .about__single--line2, .about__segmented--line2, .about__segmented--lineblue2 {
  width: 0%; }

.about__single--line2, .about__single--lineblue2, .about__segmented--line2, .about__segmented--lineblue2 {
  left: 60%; }

.about__single--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 20px 0; }

.white-line-angle {
  width: 140px;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 36%; }
  .white-line-angle:before {
    content: "";
    position: absolute;
    width: 15px;
    background: #ffffff;
    height: 50px;
    transform: skew(45deg) translateX(25px); }

.blue-line-angle {
  width: 140px;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 36%; }
  .blue-line-angle:before {
    content: "";
    position: absolute;
    width: 3px;
    background: #003763;
    height: 50px;
    transform: skew(45deg) translateX(31px); }

.about__leter {
  position: absolute; }

.about__single--a {
  top: 50%;
  left: 36%;
  transform: translate(50px, 60px); }

.about__segmented--a {
  top: 50%;
  left: 27%;
  transform: translate(50px, 60px); }

.about__segmented--b {
  top: 50%;
  left: 50%;
  transform: translate(50px, 60px); }

.about__segmented--angle1, .about__segmented--angle1--blue {
  left: 27%; }

.about__segmented--angle2, .about__segmented--angle2--blue {
  left: 50%; }

.about__dynamic--angle1, .about__dynamic--angle1--blue {
  left: 35%; }

.about__dynamic--angle1:before {
  height: 100px;
  transform: skew(45deg) translateX(50px); }

.about__dynamic--angle1--blue:before {
  height: 100px;
  transform: skew(45deg) translateX(56px); }

.about__dynamic--angle2:before {
  top: 40px;
  left: -1px;
  height: 30px;
  transform: skew(-45deg) translateX(15px); }
.about__dynamic--angle2.blue-line-angle:before {
  transform: skew(-45deg) translateX(20px); }

.line-rotate-box {
  width: 140px;
  height: 140px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 36%; }

.line-rotate--angle {
  width: 140px;
  height: 140px;
  transform-origin: 0px 0px;
  transform: rotate(-75deg);
  top: 28px;
  left: 16px;
  position: absolute;
  overflow: hidden; }
  .line-rotate--angle:before {
    content: "";
    height: 110px;
    width: 10px;
    background: #ffffff;
    position: absolute;
    transform: skewY(-15deg); }

.about__dynamic--angle3 .line-rotate--angle.blue-line:before {
  width: 2px;
  height: 109px;
  background: #003763;
  transform: skewY(-15deg) translate(4px, 3px); }

.about__dynamic--angle4 .line-rotate--angle {
  top: 53px;
  left: 45px;
  transform: rotate(15deg); }
  .about__dynamic--angle4 .line-rotate--angle:before {
    width: 12px;
    height: 60px;
    transform: skewY(-15deg); }
  .about__dynamic--angle4 .line-rotate--angle.blue-line:before {
    width: 2px;
    height: 61px;
    background: #003763;
    transform: skewY(-15deg) translate(5px, 0); }

.about__end--circle {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #a7a7a7;
  overflow: hidden; }
  .about__end--circle:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border: 10px solid #ffffff;
    border-radius: 50%; }

.blue-line__main {
  position: absolute;
  top: 50%;
  width: 0;
  height: 2px;
  transform: translateY(-50%);
  background: #003763; }

.scene-static {
  position: relative;
  width: 100%;
  height: 100%; }

.home-bg {
  position: absolute;
  width: 150%;
  padding-bottom: 150%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(#182a39, #000000); }

.about__end--bubble {
  position: absolute;
  transform: translate(-50%, -50%);
  background: rgba(0, 116, 200, 0.5);
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  white-space: nowrap; }

.bubble__email {
  top: 8%;
  left: 30%;
  opacity: .5; }

.bubble__website {
  top: 88%;
  left: 30%;
  opacity: .5; }

.bubble__mobile {
  top: 30%;
  left: 18%; }

.bubble__agent {
  top: 75%;
  left: 15%; }

.bubble__video {
  top: 18%;
  left: 75%; }

.bubble__social {
  top: 35%;
  left: 80%;
  opacity: .5; }

.bubble__tradeshow {
  top: 60%;
  left: 82%;
  opacity: .5;
  white-space: normal !important; }

.bubble__seo {
  top: 88%;
  left: 70%; }

/*# sourceMappingURL=styles.css.map */
