/* style.scss */

@import 'reset';
@import 'variables';
@import 'mixins';

$min-width: 1024px;
$min-height: 640px;
$width: 1280px;

$min-height: 640px;


*, *:before, *:after {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
}


textarea, input, select { outline: none; }

.clear-fix {

    &:after {
        display:block;
        clear:both;
        content:"";
    }
}


a, a:visited {
    text-decoration:none;
    color:inherit;
}

html, body {
    width:100%;
    height:100%;
    background:$black;
    color: $white;
    font-family: 'Helvetica', sans-serif;
    line-height:1.2;
}

.scroll-vertical {
    height: 10000px;
}

.ergo-logo {
    position: fixed;
    top: 44px;
    left: 44px;
    z-index: 100;
}

.view {
    position: fixed;
    width:100%;
    height:100%;
    z-index: 1;
    overflow: hidden;

}

.scroll-horizontal, .scene-scroll {
    width: 10000px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.section {
    width: 80vw;
    height: 100%;
    width: 100%;
    float: left;
    position: relative;
}

.bg {
    width: 125%;
    height: 100%;
    position: absolute;
    left: -25%;
    top:0;
}

.section__viewport {
    width: 80%;
    height: 100%;
    position: absolute;
}

.scene {
    width: 100%;
    height: 100%;
    position: relative;
    min-width: $min-width;
    min-height: $min-height;
    float: left;
}

.line__1 {
    width: 500px;
    height: 0px;
    border-top: 8px solid $white;
    position: absolute;
    top: 50%;
    left: 25%;

}

.ani-object {
    //transition: all .2s linear;
}

.box__1 {
    border: 4px solid $white;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

.box__1__text {
    position: absolute;
    font-size: 32px;
}

.about__landing--img {
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.about__landing--circle {
    position: absolute;
    top: 50%;
    right: 12%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transform: translateY(-50%);
    background: $white;

}

.about__landing--arrow {
    position: absolute;
    top: 50%;
    right: 12%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transform: translateY(-50%);
}
.about__landing--line--wht{
    left: 87%;
}

.about__landing--line--blue {
    left: 86%;
}

.white-line__main {
    position: absolute;
    top: 50%;
    width: 0;
    height: 10px;
    transform: translateY(-50%);
    background: $white;
    transition: none;
}

.about__why--line1, .about__why--line2, .about__why--lineblue1, .about__why--lineblue2{
    width: 0%;
}


.center__pos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about__why--textbox {
    width: 520px;
    height: 128px;
    position: relative;
    overflow: hidden;
}

.about__why--text {
    top: 120%;
}

.about__why--table {
    width: 100%;
    height: 100%;

    td {
        position: relative;
    }
}

.about__why--cellfix {
    width: 5px;
    vertical-align: middle;
}

.about__why--textbox--border {
    width: 0;
    height: 100%;
    position: absolute;
    overflow: hidden;

    &:before {
        content: "";
        border: 10px solid $white;
        width: 520px;
        height: 100%;
        position: absolute;
    }


}

.about__single {
    border: 4px solid red;
}

.about__single--line1, .about__single--line2 {
    width: 0%;
}

.about__single--line2 {
    left: 50%;
}

.about__single--text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, - 100%);
    padding: 20px 0;
}

.about__single--line--angle {
    width: 15px;
    height: 0;
    background: $white;
    position: absolute;
    top: 50%;
    left: 38%;
    transform: skewX(45deg);
}


.about__end--circle {
    width: 0;
    height: 0; 
    border-radius: 50%;
    background: $gray4;
    overflow: hidden;

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        border: 10px solid $white;
        border-radius: 50%;
    }
}

.blue-line__main {
    position: absolute;
    top: 50%;
    width: 0;
    height: 2px;
    transform: translateY(-50%);
    background: #003763;
}

